/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY */
html,
body {
  background-color: #0b1320;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* HERO / HEADER */
.hero {
  background-color: #0b1320;
  text-align: center;
  padding: 20px;
}

/* LOGO */
.site-logo {
  max-width: 100%;
  height: auto;
  background: transparent;
  display: block;
  margin: 0 auto;
}

/* CONTAINER */
.container {
  padding: 20px;
  background-color: #0b1320;
}

/* GRID */
.game-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* CARD */
.game-card {
  background-color: #111a2c;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ICON */
.game-card img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

/* INFO */
.game-info h3 {
  font-size: 14px;
  margin-bottom: 6px;
}

/* BUTTON */
.btn-play {
  display: inline-block;
  background: #1eff4e;
  color: #000;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 9px;
  text-decoration: none;
  font-weight: bold;
}

/* FOOTER */
.footer {
  background-color: #0b1320;
  text-align: center;
  padding: 20px;
  color: #aaa;
  font-size: 12px;
}

.footer-image img {
  max-width: 100%;
}

/* DESKTOP */
@media (min-width: 768px) {
  .game-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
